html,
body {
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CustomFont';
  src: url('../fonts/RobotoBold.ttf');
}
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video {
  width: 100%;
  height: 100%;
}

.lector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: transparent;
}
.pantalla {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor {
  text-align: center;
  font-size: 3rem;
  font-weight: lighter;
  color: white !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content:  space-evenly;
  height: 100%;
  width: 100%;
  padding: 20vh 10vw;
  box-sizing: border-box;
  min-height: 100vh;
  background: #ffffff00; /* fallback for old browsers */

}
.pantalla::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0086af00;
  z-index: -1;
  opacity: 0.5;
  background-size: cover;
}

h1 {
  color: #d6007f;
  font-size: 5rem;
}


.nombre {
  font-weight: bold;
  color: #1787cd;
}

.molecula {
  max-width: 45vw;
}

p {
  text-align: center;
  font-size: 3rem;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.input-lector {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 3rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.123) !important;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.textos{
  margin-top: 15vh;
 
}

input {
  border: none;
  background: transparent;
  font-size: 3rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.249) !important;
  display: flex;
  flex-flow: column;
  align-items: center;
}

input:focus {
  outline: none;
}


.color{
color: #d6008022;
}